body.thank-you-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
        display: flex;

        .thank-you-block {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @media screen and (min-width: $bp-tablet) {
                align-items: start;
                text-align: left;
            }
        
            &__title {
                font-size: 32px;
                color: #6b4bbb;
                margin-bottom: 20px;
                @media screen and (min-width: $bp-mobile) {
                    font-size: 40px;
                }
                @media screen and (min-width: $bp-desktop) {
                    font-size: 2.5rem;
                }
            }
        
            &__sub-title {
                font-size: 22px;
                @media screen and (min-width: $bp-mobile) {
                    font-size: 30px;
                }

                @media screen and (min-width: $bp-desktop) {
                    font-size: 1.5rem;
                }
            }
        
            &__link {
                display: inline-block;
                margin-top: 30px;
                padding: 12px 24px;
                font-size: 20px;
                background-color: #9255d6;
                color: white;
                text-decoration: none;
                border-radius: 8px;
                transition: background-color 0.3s ease;
                width: fit-content;
                @media screen and (min-width: $bp-mobile) {
                    font-size: 28px;
                }

                @media screen and (min-width: $bp-desktop) {
                    font-size: 1em;
                }
        
                &:hover {
                    background-color: #7a43ba;
                }
            }
        }
    }
}
