:root {
    --color-primary-dark: #000000;
    --color-primary-light: #FFFFFF;
    --color-brand-normal: #8351e0;
    --color-brand-dark: #531fb5;
    --color-brand-hover: #966de2;
    --color-secondary-grey: #9CA3AF;
    --color-secondary-grey-dark: #777376;
    --color-secondary-yellow: #e2ce40;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;