@import './utils/fonts';
@import './utils/variables';
@import './base';

@import './components/buttons';
@import './components/forms';
@import './components/free-lesson';

@import './layouts/advantages-section';
@import './layouts/class-section';
@import './layouts/conclusion-section';
@import './layouts/details-section';
@import './layouts/faq-section';
@import './layouts/footer';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/intro-section';
@import './layouts/learning-section';
@import './layouts/lesson-section';
@import './layouts/practice-section';
@import './layouts/privacy-page';
@import './layouts/reviews-section';
@import './layouts/thank-you-page';